*{
    font-family: "Roboto Condensed", sans-serif;
    box-sizing: border-box;
}
:root{
    --rust-color: #ce422b;
    --text-main: #ebebeb;
    --text-dim: #a0a0a0;
    --bg-color: #121212;
    --panel-color: #1e1e1e;
    --border-glow: 0 0 1em rgba(206, 66, 43, 0.3);
    --border-glow-active: 0 0 1em rgba(160, 160, 160, 0.3);
}
body{
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../../images/background_img.png);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--bg-color);
    color: var(--text-main);
    margin: 0;
    padding: 0;
}
nav{
    background-color: var(--panel-color);
    padding: 1em;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0.5em 2em rgba(0, 0, 0, 0.5);
    border-bottom: solid 0.2em var(--rust-color);
}
#logoBtn{
    width: 4em;
    margin: 0 0 0 1.5em;
    filter: drop-shadow(0 0 1em #ce422b);
    cursor: pointer;
    transition: transform 0.2s;
    background: transparent;
    border-style: none;
}
#logoBtn:hover{
    transform: scale(1.1);
}
#logoBtn:active{
    transform: scale(0.8);
}
#navLinks{
    margin: 0 1.5em 0 0;
}
#navLinks button{
    margin: 0 4em;
    padding: 0.3em 1em;
    background-color: #1e1e1e;
    color: var(--rust-color);
    text-transform: uppercase;
    font-weight: bold;
    background: transparent;
    border: none;
    font-size: large;
    transition: all 0.3s ease;
}
#navLinks button:hover{
    border: 0.1em solid var(--rust-color);
    background-color: rgba(206, 66, 43, 0.25);
    transform: translateY(-0.4em);
    box-shadow: var(--border-glow);
    cursor: pointer;
    box-shadow: 0 0.3em 1em rgba(206, 66, 43, 0.4), 0 0.3em 0 #8a2a1a;
}
#navLinks button:active{
    border: 0.1em solid var(--text-dim);
    background-color: rgba(160, 160, 160, 0.25);
    box-shadow: var(--border-glow-active);
    transform: translateY(0.4em);
}
#app{
    /* background-color: var(--panel-color); */
    max-width: 65em;
    min-height: 20em;
    margin: 4em auto;
    backdrop-filter: blur(2em);
    box-shadow: var(--border-glow);
    border-radius: 1em;
}
#headingSpace{
    /* background-color: rgb(95, 82, 82); */
    width: auto;
    padding: 2em;
    text-transform: uppercase;
    color: var(--rust-color);
    letter-spacing: 0.2em;
    border-bottom: solid 0.1em var(--rust-color);
    background: rgba(0, 0, 0, 0.5);
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
}
#mainSpace{
    width: auto;
    padding: 3em;
    transition: opacity 0.3s ease-in-out;
    min-height: auto;
    background: rgba(0, 0, 0, 0.3);
    color: var(--text-main);
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
}
.homePageHeading{
    font-size: 4em;
}
.homePageParagraph{
    font-size: 2em;
}
.homePageButton{
    background-color: var(--rust-color);
    padding: 1.2em 3em ;
    color: var(--text-main);
    font-size: 1.2em;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    border: none;
    border-radius: 0.5em;
    cursor: pointer;
    margin: 4em auto 0 auto;
    position: relative;
    transition: all 0.2s ease-in-out;
    box-shadow: 0 0.1em #8a2a1a;
    overflow: hidden;
}
.homePageButton:hover{
    transform: translateY(-0.1em);
    background-color: #e34b32;
    box-shadow: 0 0.3em 1em rgba(206, 66, 43, 0.4), 0 0.3em 0 #8a2a1a;
    filter: brightness();
}
.homePageButton:active{
    transform: translateY(0.1em);
    box-shadow: 0 0.1em 0 #8a2a1a; 
}
.homePageButton::after{
    content: "";
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background: linear-gradient(255, 255, 255, 0.1) 50%, transparent 50%;
    background-size: 100% 0.2em;
    pointer-events: none;
}
.homePageMainSpace{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* min-height: 25em; */
}
.aboutPageParagraph{
    font-size: 1.5em;
}
.aboutPageList{
    list-style: none;
    padding: 0;
    margin: 2em 0;
}
.aboutPageList li{
    font-size: 1.2em;
    background: rgba(255, 255, 255, 0.05);
    margin-bottom: 0.8em;
    padding: 1em 1.5em;
    border-left: 0.1em solid var(--rust-color);
    transition: transform 0.2s ease;
}
.aboutPageList li:hover{
    background: rgba(206, 66, 43, 0.1);
    transform: translateX(0.7em);
}